<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} Cerbero Authenticator</title>

        <script src="/assets/jquery-3.7.1.min.js"></script>
        <link rel="stylesheet" href="/assets/fomantic/semantic.min.css">
        <script src="/assets/fomantic/semantic.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <br>
        <div class="ui container">
            
            <h1 class="ui dividing center aligned header">Cerbero</h1>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>