{% extends "base.html.twig" %}

{% block title %}Aviso{% endblock %}

{% block content %}
<div class="ui blue segment">
    <div class="ui info message">
        Cerbero Authenticator é um conjunto de páginas e ferramentas para autenticação centralizada de usuários.
    </div>
</div>
{% endblock %}