{% extends "base.html.twig" %}

{% block title %}Usuário autenticado{% endblock %}

{% block head %}
{{ parent() }}
{% if not(return is null) %}
<meta http-equiv="refresh" content="5; URL={{ return }}">
{% endif %}
{% endblock %}

{% block content %}

<div class="ui success message">Autenticação concluída com sucesso!</div>
{% if not (return is null) %}
        <div class="ui info message">
          <p>Você será redirecionado em alguns segundos...</p>
          <p>Caso isso não aconteça ou não queira esperar, <a href="{{ return }}">clique aqui</a> para prosseguir.</p>
        </div>
{% endif %}
{% endblock %}